<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <%- include('../includes/message.ejs') %>
            <% if(orders.length <= 0) {%>
            <h1>Order list empty</h1>
            <% } else { %>
                <ul>
                    <% orders.forEach(order => { %>
                    <li>
                        <ul>
                            <h1>Order #<%= order._id %></h1>
                            <ul>
                                <% order.items.forEach(product => { %>
                                    <li><%= product.productId.title %> (<%= product.quantity %>)</li>
                                <% }); %>
                            </ul>
                            <a href="/orders/<%= order._id %>">Download invoice</a>
                        </ul>
                    </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>